.ShowplaceRepeater{
  display: flex;
  flex-direction: column;

  .AddButton{
    width: 30%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
    &:hover{
      background-color: #dddddd;
    }
  }

  .Item{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    box-shadow: 0 0 2px 2px #333;
    padding: 10px;
    cursor: pointer;


    .PreviewEditor{
      width: 30%;
      background-size: cover;
      padding: 10px;
      box-sizing: border-box;
      border: 1px solid #333;
    }

    .FullEditor{
      width: 55%;
      background-size: cover;
      padding: 10px;
      box-sizing: border-box;
      border: 1px solid #333;


    }
    textarea, input{
      font-family: inherit;
      background-color: rgba(0,0,0,0);
      border: none;
      border-bottom: 1px solid #333;
      outline: none;
      width: 100%;
    }
  }
}