@import '../../styles/colors';


.swiper-container {
  margin:0;
}
.swiper-button-prev, .swiper-button-next{
  color: $dark;
  top: 95%;
  transition: color 0.3s;
  &:hover{
    color: red(1);
  }
}

.swiper-button-prev{
  left: 20px;
}
.swiper-button-next{
  right: 20px;
}

.modal-slider {
  width: 45vw;
  height: 95vh;
  margin-top: 5vh;
  text-align: center;
  margin: 0 auto;
  background-color: white;
  border-radius: 20px;
  box-shadow: -1px 5px 8px 5px rgba(34, 60, 80, 0.2);
}

.sight-description {
  width: 35vw;
  margin: 0 auto;
}