$red: #fe6d73;
$white: white;
$yellow: #ffcb77;
$blue: #17c3b2;
$dark-blue: #227c9d;

$text-color: white;



.Body{
  margin: 0;
  padding: 0;
  background-color: $white;
  color: $text-color;
  height: 100vh;
}

.SiteNavBar{
  height: 60px;
  background-color: $blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 15px;

  .UserBar{
    margin-left: auto;

    a{
      color: $text-color;
      text-decoration: none;
      display: block;
      line-height: 60px;
      padding-right: 10px;
      padding-left: 10px;
      transition: background-color 0.3s;
      &:hover{
        background-color: rgba(0,0,0,0.2);
      }

      &:link{
        text-decoration: none;
      }
    }

  }
}


.SiteContent{
  padding: 10px;
  height: 100%;
}

.SiteFooter{

}