@import 'colors';
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Oswald');


body{
  font-family: Oswald, sans-serif;
  margin: 0;
  overflow-y: scroll;
}

button{
  cursor: pointer;
}

.Body{
  margin: 0;
  padding: 0;
  background-color: $white;
}

.SiteNavBar{
  color: $text-color;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px 15px;
  position: relative;
  z-index: 10;
  font-size: 18px;


  .HiddenMenu{
    display: none;
  }

  .UserBar{

    a{
      text-decoration: none;
      color: $text-color;
    }
    .LogButton{
      display: block;
      transition: color .4s;
      line-height: 35.5px;
      min-width: 60px;
      text-align: center;
      &:hover{
        color: red(1);
        animation: slide-border .2s linear;
        box-shadow: 0 3px 0 0 red(1);
        transition: box-shadow .2s 0s, color .4s;
      }

      &:link{
        text-decoration: none;
      }
    }

    .Avatar{

      &>div{
        border: 3px solid transparent;
        transition: border 0.3s, color 0.3s;
        margin-left: 10px;
        margin-top: -3px;
        &:hover{
          color: red(1);
          border: 3px solid red(1);
        }
      }


    }

    button{
      color: $text-color;
      background-color: transparent;
      border: none;
      outline: none;
      font-family: inherit;
      font-size: inherit;
      transition: color .4s, box-shadow .2s;
      box-shadow: 0 0 0 0 red(1);
      line-height: 35.5px;

      &:hover{
        color: red(1);
        box-shadow: 0 3px 0 0 red(1);
      }
    }


  }

  .SearchBar{
    width: 40%;
    margin-left: 25%;
    input{
      font-size: inherit;
      line-height: 21px;
      width: 85%;
      height: 90%;
      outline: none;
      margin-right: 10px;
      background-color: transparent;
      font-family: Oswald, sans-serif;
      border: none;
      box-shadow: 0 1px 0 0 red(0.66);
      transition: box-shadow 0.3s;

    }
    button{
      background-color: transparent;
      border: none;
      font-size: 25px;
      line-height: 25px;
      cursor: pointer;
      outline: none;
      color:red(1);
    }
  }

  .SelectLanguage{
    margin-left: auto;
    margin-right: 10px;
    display: block;
    background-color: transparent;
    height: 90%;
    border: none;
    border-bottom: none!important;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    cursor: pointer;
    color: $white;
    transition: color .4s, box-shadow .2s;
    box-shadow: 0 0 0 0 red(1);

    &:before{
      border: none;
      border-bottom: none!important;
    }
    &:after{
      border: none;
      border-bottom: none!important;
    }

    &:hover{
      color: red(1);
      box-shadow: 0 3px 0 0 red(1);
    }
  }
}

.LangMenuItem{
  color: green;
}

.SiteContent{
  margin-top: -60px;
}

.SiteFooter{

}


.LogoLink{
  display: flex;
  margin-left: 20px;
  width: auto;
  height: 100%;
  text-decoration: none;
  align-items: center;
  .Logo{
    width: auto;
    color: white;
    font-size: 25px;
    font-family: Rubik,sans-serif;
    font-style: italic;
    text-align: left;

  }
}

